id ICON icon.ico

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "BSI 2023"
      VALUE "FileDescription", "Sistema de gerenciamento para uma clinica"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "clinica"
      VALUE "LegalCopyright", "Clinica"
      VALUE "OriginalFilename", "Clinica.exe"
      VALUE "ProductName", "Clinica"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END